<div class="main-content">
    <div class="container-fluid">
        <div class="row">
<!--            <mat-form-field class="rounded-0" style="width: 800px">-->
<!--                <mat-label>&#45;&#45; Chọn học kỳ &#45;&#45;</mat-label>-->
<!--                <mat-select (selectionChange)="changeHocKy($event)">-->
<!--                    <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.namHoc">{{hocKy.namHoc}}</mat-option>-->
<!--                </mat-select>-->
<!--            </mat-form-field>-->
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">DANH SÁCH NHÓM</h4>
                        <!--                        <p class="card-category">New employees on 15th September, 2016</p>-->
                        <button mat-raised-button color="warn" (click)="openDialog()" style="height: 40px">Tạo nhóm
                        </button>
                    </div>
                    <div>
                        <mat-form-field style="width: 500px">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..."
                                   #input>
                        </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="nhom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.nhom}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="sv1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sinh viên 1</th>
                                <td mat-cell *matCellDef="let row"> {{row.sv1}}</td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="sv2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sinh viên 2</th>
                                <td mat-cell *matCellDef="let row"> {{row.sv2}} </td>
                            </ng-container>

                            <!-- Fruit Column -->
                            <ng-container matColumnDef="tinhTrang">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tình trạng</th>
                                <td mat-cell *matCellDef="let row"> row.tinhTrang  </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cập nhật</th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editProduct(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="deleteProduct(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
