<hr>
<!--Table -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header"
                         style="display: flex;justify-content: space-between;background-color: #4da1e8">
                        <h4 class="card-title"
                            style="color: #fff;font-family: Arial, Helvetica Neue, Helvetica, sans-serif">DANH SÁCH PHIẾU CHẤM ĐIỂM</h4>
                        <button mat-button [matMenuTriggerFor]="afterMenu">Tùy chọn
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #afterMenu="matMenu" xPosition="after" >
                            <button mat-menu-item (click)="themPhieuChamDiem()" style="display: flex;justify-content: space-between;">
                                <span>Thêm phiếu chấm</span>
                            </button>
                            <button mat-menu-item (click)="downloadFileSV()" style="display: flex;justify-content: space-between;">
                                <span>Xuất file Excel mẫu -SAI FILE - SUA LAI</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="directTieuChiCham()" style="display: flex;justify-content: space-between;">
                                <span><b>Thêm tiêu chí chấm điểm</b></span>
                            </button>
                        </mat-menu>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field style="width: 400px;margin-left: 20px">
                                <mat-label>-- Chọn học kỳ --</mat-label>
                                <mat-select (selectionChange)="changeHocKy($event)">
                                    <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">
                                        HK{{hocKy.soHocKy}}
                                        -20{{hocKy.maHocKy}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    <div class="col-lg-6 col-md-6">
                        <mat-form-field style="width: 500px;margin-left: 20px">
                            <mat-label>-- Phiếu mẫu của từng loại giảng viên --</mat-label>
                            <mat-select (selectionChange)="changeGiangVien($event)">
                                <mat-option *ngFor="let vaitro of dsVaiTro" [value]="vaitro.value">{{vaitro.viewValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    </div>
                    <div>
                        <mat-form-field style="width: 500px;margin-left: 20px">
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..."
                                   #input>
                        </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8" style="width: 100%;max-width: 100%;overflow: auto;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="maTieuChiCham" class="example-button" >
                                <th mat-header-cell *matHeaderCellDef   style="width: 150px"> MÃ PHIẾU
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.maChuanDauRa}} </td>
                            </ng-container>
                            <ng-container matColumnDef="tenTieuChiCham"  class="example-button">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 550px"   > TÊN CHUẨN ĐẦU RA
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.tenChuanDauRa}} </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="diemToiDa" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef   style="margin-left: 60px"> ĐIỂM TỐI ĐA
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.diemToiDa}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                 {{row.diemToiDa}}
                                </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="action" >
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> TÙY CHỈNH
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editProduct(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="deleteProduct(row.maChuanDauRa)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


