<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">DANH SÁCH NHÓM THEO ĐỀ TÀI CỦA GIẢNG VIÊN</h4>
                        <button mat-raised-button color="warn" (click)="openDialog()" style="height: 40px">Tạo nhóm
                        </button>
                    </div>
                    <hr>
                    <div>
                        <mat-form-field style="width: 500px;margin-left: 20px">
                            <mat-label>-- Chọn học kỳ --</mat-label>
                            <mat-select (selectionChange)="changeHocKy($event)">
                                <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">HK{{hocKy.soHocKy}}
                                    -20{{hocKy.maHocKy}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field style="width: 500px;margin-left: 20px">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..."
                                   #input>
                        </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="maNhom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.maNhom}} </td>
                            </ng-container>
                            <ng-container matColumnDef="maDeTai">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đề tài</th>
                                <td mat-cell *matCellDef="let row"> {{row.maDeTai}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sv1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sinh viên 1</th>
                                <td mat-cell *matCellDef="let row"> {{row.sv1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="sv2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sinh viên 2</th>
                                <td mat-cell *matCellDef="let row"> {{row.sv2}} </td>
                            </ng-container>

                            <!--                            &lt;!&ndash; Fruit Column &ndash;&gt;-->
                            <ng-container matColumnDef="danhGia">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Đánh giá</th>
                                <td mat-cell *matCellDef="let row"> row.danhGia</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editProduct(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="deleteProduct(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
