<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <hr>
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">Xếp thời khóa biểu cho giảng viên</h4>
                        <mat-form-field style="width: 400px;margin-left: 20px">
                            <mat-label>Tùy chọn</mat-label>
                            <mat-select>
                                <mat-option (click)="addThoiKhoaBieuPB()">Thêm TKB chấm phản biện</mat-option>
                                <mat-option (click)="addThoiKhoaBieuHD()">Thêm TKB chấm hội đồng</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field style="width: 400px;margin-left: 20px">
                                <mat-label>-- Chọn học kỳ --</mat-label>
                                <mat-select (selectionChange)="changeHocKy($event)">
                                    <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">
                                        HK{{hocKy.soHocKy}}
                                        -20{{hocKy.maHocKy}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field style="width: 400px;margin-left: 20px">
                                <mat-label>-- Lịch --</mat-label>
                                <mat-select (selectionChange)="changeLoaiLich($event)">
                                    <mat-option [value]="0">Phản biện</mat-option>
                                    <mat-option [value]="1">Hội đồng</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--                    PHAN BIEN-->
                    <div *ngIf="showBangData==0" class="mat-elevation-z8"
                         style="width: 100%;max-width: 100%;overflow: auto;">

                        <table mat-table [dataSource]="dataSourcePB" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="maLich" sticky class="example-button">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> MÃ LỊCH
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.maLich}} </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tenLich" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef style="margin-left: 60px"> TÊN LỊCH
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.tenLich}}"
                                    matTooltipClass="example-tooltip-uppercase"> {{row.tenLich}}
                                </td>
                            </ng-container><!-- Progress Column -->
                            <ng-container matColumnDef="ngay" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef style="margin-left: 60px"> NGÀY CHẤM
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.ngay}}"
                                    matTooltipClass="example-tooltip-uppercase"> {{row.ngay}}
                                </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tiet">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> TIẾT
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.tiet}}</td>
                            </ng-container>
                            <ng-container matColumnDef="gvpb1" style="width: 200px;">
                                <th mat-header-cell *matHeaderCellDef
                                    style="margin-left: 40px;text-align: center"> GV PB 1
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.dsGiangVienPB[0].tenGiangVien}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.dsGiangVienPB[0].tenGiangVien}}</td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="gvpb2">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">GV PB 2
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.dsGiangVienPB[1].tenGiangVien}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.dsGiangVienPB[1].tenGiangVien}}</td>
                            </ng-container> <!-- Progress Column -->
                            <ng-container matColumnDef="phong">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">PHONG
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.phong}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.phong}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> CHỈNH SỬA
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editLichPB(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="deleteLichPB(row.maLich)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPB"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPB;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                    <!--                    HOI DONG-->
                    <div *ngIf="showBangData==1" class="mat-elevation-z8"
                         style="width: 100%;max-width: 100%;overflow: auto;">

                        <table mat-table [dataSource]="dataSourceHD" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="maLich" sticky class="example-button">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> MÃ LỊCH
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.maLich}} </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tenLich" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef style="margin-left: 60px"> TÊN LỊCH
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.tenLich}}"
                                    matTooltipClass="example-tooltip-uppercase"> {{row.tenLich}}
                                </td>
                            </ng-container><!-- Progress Column -->
                            <ng-container matColumnDef="ngay" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef style="margin-left: 60px"> NGÀY CHẤM
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.ngay}}"
                                    matTooltipClass="example-tooltip-uppercase"> {{row.ngay}}
                                </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tiet">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> TIẾT
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.tiet}}</td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="chutichhd">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">CHỦ TỊCH HỘI ĐỒNG/ GV CHẤM POSTER 1
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.chutichhd}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.chutichhd}}</td>
                            </ng-container>
                            <ng-container matColumnDef="thukyHD">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">THƯ KÝ HĐ/ GV CHẤM POSTER 2
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.thukyHD}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.thukyHD}}</td>
                            </ng-container>
                            <ng-container matColumnDef="tv3">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">THÀNH VIÊN THỨ 3
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.tv3}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.tv3}}</td>
                            </ng-container>
                            <ng-container matColumnDef="phong">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center">PHONG
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.phong}}"
                                    matTooltipClass="example-tooltip-uppercase">{{row.phong}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> CHỈNH SỬA
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editLichPB(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="deleteLichPB(row.maLich)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsHD"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsHD;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

