<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thêm Lớp Học Phần</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="giangVienForm">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tên Lớp Học Phần</mat-label>
                                        <input formControlName="tenLopHocPhan" matInput
                                               placeholder="Placeholder"  >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field >
                                        <mat-label>-- Phòng --</mat-label>
                                        <mat-select (selectionChange)="changePhong($event)">
                                            <mat-option *ngFor="let phong of dsPhong" [value]="phong.tenPhong">{{phong.tenPhong}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Ghi chú</mat-label>
                                        <input formControlName="ghiChu" matInput
                                               placeholder="Placeholder"  >
                                    </mat-form-field>
                                </div>


                                <div class="col-md-6">
                                    <mat-form-field >
                                        <mat-label>-- Chọn học kỳ --</mat-label>
                                        <mat-select (selectionChange)="changeHocKy($event)">
                                            <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">HK{{hocKy.soHocKy}}
                                                -20{{hocKy.maHocKy.substring(0, hocKy.maHocKy.length - 1)}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h5 style="color: red" *ngIf="giangVienForm.errors">
                                    {{giangVienForm.errors?.dates | json}}
                                </h5>
                            </div>
                            <div mat-dialog-actions [align]="'end'">
                                <button mat-raised-button color="warn" mat-dialog-close="'close'">Close</button>
                                <!--                                [disabled]="!productForm.valid"-->
                                <button style="margin-left: 8px" mat-raised-button color="primary"

                                        (click)="addLopHP()">{{actionBtn}}</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
