<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">DANH SÁCH SINH VIÊN</h4>
                        <button mat-button [matMenuTriggerFor]="afterMenu">Tùy chọn
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #afterMenu="matMenu" xPosition="after" >
                            <button mat-menu-item (click)="downloadFileSV()" style="display: flex;justify-content: space-between;">
                                <span>Xuất file kết quả</span>
                                <mat-icon style="margin-top: 10px">cloud_download</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-10">
                            <form [formGroup]="luaChonGroup">
                                <mat-accordion class="example-headers-align">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h5><b>Lọc</b></h5>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <h5><b>Kết quả đánh giá sinh viên</b></h5>
                                                <mat-icon>date_range</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-3">
                                                <mat-form-field>
                                                    <mat-label>-- Chọn học kỳ --</mat-label>
                                                    <mat-select formControlName="hocKy" (selectionChange)="changeHocKy($event)">
                                                        <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">
                                                            HK{{hocKy.soHocKy}}
                                                            -20{{hocKy.maHocKy}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <mat-form-field>
                                                    <mat-label>-- Chọn đợt chấm điểm --</mat-label>
                                                    <mat-select formControlName="dotCham"
                                                                (selectionChange)="changeDotChamDiem($event)">
                                                        <mat-option value="HD">Hướng dẫn</mat-option>
                                                        <mat-option value="PB">Phản biện</mat-option>
                                                        <mat-option value="HoiDong">Hội đồng</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3" *ngIf="showThongTinHD==true">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>-- Chọn phương pháp chấm --</mat-label>
                                                    <mat-select formControlName="ppcham" multiple>
                                                        <mat-option *ngFor="let topping of phuongPhapList" [value]="topping.value">{{topping.viewValue}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3" *ngIf="showThongTinHD==true">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>-- Chọn vai trò của bạn --</mat-label>
                                                    <mat-select formControlName="vaitro" multiple>
                                                        <mat-option *ngFor="let topping of dsVaiTro" [value]="topping.value">{{topping.viewValue}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="accordion.closeAll()">Đóng</button>
                                            <button mat-button color="primary" (click)="fileterChange()">Tìm kiếm</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                </mat-accordion>

                            </form>
                        </div>
                    </div>
                    <hr>
<!--                    <div>-->
<!--                        <mat-form-field style="width: 500px;margin-left: 20px">-->
<!--                            <mat-label>Filter</mat-label>-->
<!--                            <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..."-->
<!--                                   #input>-->
<!--                        </mat-form-field>-->
<!--                    </div>-->
                    <div class="mat-elevation-z8" style="width: 100%;max-width: 100%;overflow: auto;">
                        <table mat-table [dataSource]="dataSource" matSort >
                            <ng-container matColumnDef="maSV">
                                <th mat-header-cell *matHeaderCellDef  >Mã SV</th>
                                <td mat-cell *matCellDef="let row"> {{row.maSV}} </td>
                            </ng-container>
                            <ng-container matColumnDef="tenSV">
                                <th mat-header-cell *matHeaderCellDef>Họ tên</th>
                                <td mat-cell *matCellDef="let row"> {{row.tenSV}} </td>
                            </ng-container>

                            <ng-container matColumnDef="maNhom">
                                <th mat-header-cell *matHeaderCellDef  >Mã nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.maNhom}}</td>
                            </ng-container>
                            <ng-container matColumnDef="tenNhom">
                                <th mat-header-cell *matHeaderCellDef  >Tên nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.tenNhom}}</td>
                            </ng-container>
                            <ng-container matColumnDef="maDeTai">
                                <th mat-header-cell *matHeaderCellDef  >Mã đề tài</th>
                                <td mat-cell *matCellDef="let row"> {{row.maDeTai}} </td>
                            </ng-container>

                            <!--                            &lt;!&ndash; Fruit Column &ndash;&gt;-->
                            <ng-container matColumnDef="tenDeTai">
                                <th mat-header-cell *matHeaderCellDef>Tên đề tài</th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.tenDeTai}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="gvhd">
                                <th mat-header-cell *matHeaderCellDef>GVHD</th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.gvhd}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="diem">
                                <th mat-header-cell *matHeaderCellDef>Điểm</th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.diem}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef  >action</th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editProduct(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Không tìm thấy dữ liệu</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


