
<div class="container">
    <div class="row">
        <hr>
        <h1>LỊCH GIẢNG DẠY</h1>
        <mat-divider></mat-divider>
        <hr>
        <mat-form-field class="rounded-0" style="width: 100%">
            <mat-label>-- Chọn học kỳ --</mat-label>
            <mat-select (selectionChange)="changeVaiTro($event)">
<!--                <mat-option *ngFor="let hocKy of dsGV" [value]="hocKy.namHoc">{{hocKy.namHoc}}</mat-option>-->
            </mat-select>
        </mat-form-field>
        <div style="display: flex;justify-content: space-between">
            <mat-form-field style="width: 500px">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..." #input>
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="openDialog()" style="height: 40px">Đặt lịch</button>
        </div>
        <hr>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
