<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--            <div class="col-lg-12 col-md-12 col-sm-12">-->
            <!--                <div  data-color="danger" data-background-color="white"-->
            <!--                      -->
            <!--                     data-image="./assets/img/sidebar-1.jpg">-->
            <!--                    <app-caidat-sidebar></app-caidat-sidebar>-->
            <!--                    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>-->
            <!--                </div>-->
            <!--                <div class="main-panel">-->
            <!--                    <router-outlet></router-outlet>-->
            <!--                </div>-->
            <!--            </div>-->
            <mat-drawer-container class="example-container sidebar">
                    <mat-drawer mode="side" opened style="width: 16%">
                        <div data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
                            <app-caidat-sidebar></app-caidat-sidebar>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content>
                        <router-outlet></router-outlet>
                    </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>
