<div *ngIf="editData.info.nguoiGui.maSinhVien != null">
    <h2 mat-dialog-title>Thông Báo</h2>
    <mat-divider></mat-divider>
    <hr>
    <mat-dialog-content class="mat-typography">
        <h4>Tên Sinh viên: <b>{{editData.info.nguoiGui.tenSinhVien}}</b></h4>
        <h4>Số Điện Thoại: <b>{{editData.info.nguoiGui.dienThoai}}</b></h4>
        <h4>Email: <b>{{editData.info.nguoiGui.email}}</b></h4>
        <p>Lời Nhắn: <b>{{editData.info.noiDung.split('|')[3]}}</b></p>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button class="btn btn-success" [mat-dialog-close]="true" cdkFocusInitial (click)="choPhepThamGiaNhom()">Đồng ý</button>
    </mat-dialog-actions>
</div>

<div *ngIf="editData.info.nguoiGui.maGiangVien != null && editData.info.tenTinNhan != 'Bạn có tin nhắn từ sinh viên xin thực hiện đề tài'">
    <h2 mat-dialog-title>Thông Báo</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content class="mat-typography" style="font-size: 15px">
        <b>Đề tài: </b>
        <span>{{editData.info.noiDung.split("|")[0]}}</span>
        <br>
        <b>Trạng thái: </b>
        <span>{{editData.info.noiDung.split("|")[1]}}</span>
        <br>
        <b *ngIf="editData.info.noiDung.split('|')[2] != '' ">Lời Nhắn:</b>
        <span *ngIf="khongCoNoiDungTinNhan == true"> Tin nhắn mặc định: Quản lý yêu cầu bạn chỉnh sửa đề tài
        </span
        ><span *ngIf="khongCoNoiDungTinNhan == false"> {{editData.info.noiDung.split("|")[2]}}
        </span>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Đóng</button>
        <button mat-button *ngIf="editData.info.noiDung.split('|')[1].trim() != 'Đã Được Duyệt'"
                [mat-dialog-close]="true" cdkFocusInitial class="btn btn-danger"
                (click)="chinhSuaDeTai(editData.info.noiDung.split('|')[3])">Chỉnh sửa đề tài</button>
    </mat-dialog-actions>
</div>
<div *ngIf="editData.info.nguoiGui.maGiangVien != null && editData.info.tenTinNhan == 'Bạn có tin nhắn từ sinh viên xin thực hiện đề tài'">
    <h2 mat-dialog-title>Thông Báo</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content class="mat-typography" style="font-size: 15px">
        <b>Đề tài: </b>
        <span>{{editData.info.noiDung.split("|")[3]}}</span>
        <br>
        <b *ngIf="editData.info.noiDung.split('|')[2] != '' ">Lời Nhắn:</b>
        <span *ngIf="khongCoNoiDungTinNhan == true"> Tin nhắn mặc định: Quản lý yêu cầu bạn chỉnh sửa đề tài
        </span
        ><span *ngIf="khongCoNoiDungTinNhan == false">
        <p> Kính gửi giảng viên.</p> Nhóm  {{editData.info.noiDung.split("|")[4]}} muốn xin phép được đăng ký đề tài hướng dẫn của thầy/cô
        về các yêu cầu đầu vào của đề tài chúng em có
        <p>
        {{editData.info.noiDung.split("|")[2]}}
        </p>
        </span>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Đóng</button>
        <button mat-button *ngIf="editData.info.noiDung.split('|')[1].trim() != 'Đã Được Duyệt'"
                [mat-dialog-close]="true" cdkFocusInitial class="btn btn-success"
                (click)="chapNhanHuongDan(
                {
                maDeTai: editData.info.noiDung.split('|')[3].trim(),
                maNhom: editData.info.noiDung.split('|')[4].trim()
                })">Chấp nhận hướng dẫn</button>
    </mat-dialog-actions>
</div>
