<h2 mat-dialog-title>Thông báo</h2>
<mat-dialog-content class="mat-typography">
    <h3>Sinh viên:</h3>
    <table width="100%">
        <tr>
            <td><p>Mã nhóm:</p></td>
<!--            <td><h3><b>{{maNhomL}}</b></h3></td>-->
        </tr>
    </table>
    <h5>Muốn xin tham gia vào nhóm của bạn</h5>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="choPhepThamGiaNhom()">Đồng ý</button>
</mat-dialog-actions>
