.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
table{
  width: 100%;
}

th{
  font-size: 13px;
  color: #4da1e8;
  font-weight: bold;
}
tr.mat-row:nth-child(even){
  background-color: #c6e0f3;
}