<div class="container">
    <h2 mat-dialog-title>Thêm giảng viên phản biện</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="nhomDKGVPB">
        <mat-dialog-content class="mat-typography">
            <table width="100%">
                <tr>
                    <td><p>Mã nhóm:</p></td>
                    <td><h3><b>{{maNhomL}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Tên nhóm:</p></td>
                    <td><h3><b>{{tenNhomL}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Mã đề tài:</p></td>
                    <td><h3><b>{{maDeTaiL}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Tên đề tài::</p></td>
                    <td><h3><b>{{tenDeTaiL}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Sinh viên 1:</p></td>
                    <td><h3><b>{{maSV1L}} - {{tenSV1L}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Sinh viên 2:</p></td>
                    <td><h3><b>{{maSV2L}} - {{tenSV2L}}</b></h3></td>
                </tr>
                <tr>
                    <td><p>Giảng viên hướng dẫn:</p></td>
                    <td><h3><b>{{tenGiangVienHDL}}</b></h3></td>
                </tr>
            </table>
        </mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Danh sách giảng viên</mat-label>
                    <mat-select [formControl]="toppings" multiple (selectionChange)="onDropdownList($event)">
                        <mat-option *ngFor="let topping of toppingList"
                                    value="{{topping.maGV}}">{{topping.tenGV}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phòng:</mat-label>
                    <input matInput formControlName="phong" type="text">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Ngày chấm:</mat-label>
                    <input matInput type="date" formControlName="ngayCham">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Tiết bắt đầu: </mat-label>
                    <mat-select formControlName="tietBatDau">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                        <mat-option value="9">9</mat-option>
                        <mat-option value="10">10</mat-option>
                        <mat-option value="11">11</mat-option>
                        <mat-option value="12">12</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Tiết kết thúc: </mat-label>
                    <mat-select formControlName="tietKetThuc">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                        <mat-option value="9">9</mat-option>
                        <mat-option value="10">10</mat-option>
                        <mat-option value="11">11</mat-option>
                        <mat-option value="12">12</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close="'close'">Close</button>
            <!--                                [disabled]="!productForm.valid"-->
            <button style="margin-left: 8px" mat-raised-button color="primary"

                    (click)="addCapNhatGVPB()">CẬP NHẬT
            </button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>