<h3>Thống kê tiến độ môn học</h3>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div id="divChart" style="height: 300px">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart4" style="height: 300px">
            <canvas id="myChart4" ></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart2" style="height: 300px">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart3" style="height: 300px">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart5" style="height: 300px">
            <canvas id="myChart5"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart6" style="height: 300px">
            <canvas id="myChart6"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="divChart7" style="height: 300px">
            <canvas id="myChart7"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Tiến trình chung"><app-quanly-tientrinh-chung></app-quanly-tientrinh-chung></mat-tab>
        <mat-tab label="Sinh viên"><app-quanly-tientrinh-sinhvien></app-quanly-tientrinh-sinhvien></mat-tab>
        <mat-tab label="Đề tài"><app-quanly-tientrinh-detai></app-quanly-tientrinh-detai></mat-tab>
    </mat-tab-group>
</div>