<hr>
<!--Table -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header"
                         style="display: flex;justify-content: space-between;background-color: #4da1e8">
                        <h4 class="card-title"
                            style="color: #fff;font-family: Arial, Helvetica Neue, Helvetica, sans-serif">KẾT QUẢ HỌC TẬP</h4>
                    </div>
                    <hr>
                    <div class="mat-elevation-z8" style="width: 100%;max-width: 100%;overflow: auto;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="STT" class="example-button">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> STT
                                </th>
                                <td mat-cell> 1 </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="maLopHocPhan" style="margin-left: 60px">
                                <th mat-header-cell *matHeaderCellDef   style="margin-left: 60px">MÃ LỚP HỌC PHẦN
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.maLopHocPhan}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                        {{row.tenDeTai}}
                                </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tenMonHoc">
                                <th mat-header-cell *matHeaderCellDef
                                    style="width: 100px;text-align: center"> TÊN MÔN HỌC
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.tenMonHoc}}</td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="soTinChi" style="width: 200px;">
                                <th mat-header-cell *matHeaderCellDef
                                    style="margin-left: 40px;text-align: center"> SỐ TÍN CHỈ
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.soTinChi}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.soTinChi}}
                                </td>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="diemTongKet">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    ĐIỂM TỔNG KẾT
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.diemTongKet}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.diemTongKet}}
                                </td>
                            </ng-container><ng-container matColumnDef="diemThangDiem4">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    THANG ĐIỂM 4
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.diemThangDiem4}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.diemThangDiem4}}
                                </td>
                            </ng-container><ng-container matColumnDef="diemChu">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    ĐIỂM CHỮ
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.diemChu}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.diemChu}}
                                </td>
                            </ng-container><ng-container matColumnDef="xepLoai">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    XẾP LOẠI
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.xepLoai}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.xepLoai}}
                                </td>
                            </ng-container><ng-container matColumnDef="ghiChu">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    GHI CHÚ
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.ghiChu}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.ghiChu}}
                                </td>
                            </ng-container><ng-container matColumnDef="dat">
                                <th mat-header-cell *matHeaderCellDef   style="text-align: center">
                                    ĐẠT
                                </th>
                                <td mat-cell *matCellDef="let row" matTooltip="{{row.dat}}"
                                    matTooltipClass="example-tooltip-uppercase">
                                    {{row.dat}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Không có dữ liệu</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
