<div class="main-content">

    <h4 style="font-weight: bold">Tên Giảng Viên:  </h4>
    <p >{{giangVien.tenGiangVien}}</p>
    <h4 style="font-weight: bold">Tên đề tài:</h4>
    <p>{{deTai.tenDeTai}}</p>
    <h4 style="font-weight: bold">Mục Tiêu Đề Tài</h4>
    <p>{{deTai.mucTieuDeTai}}</p>
    <h4 style="font-weight: bold">Sản Phẩm Dự Kiến</h4>
    <p>{{deTai.sanPhamDuKien}}</p>
    <h4 style="font-weight: bold">Yêu Cầu Đầu Vào</h4>
    <p>{{deTai.yeuCauDauVao}}</p>
    <h4 style="font-weight: bold">Số Nhóm Thực Hiện: <span>{{deTai.gioiHanSoNhomThucHien}}</span> </h4>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close="'close'">Close</button>
        <button style="margin-left: 8px" mat-raised-button
                (click)="khongDuyetDeTai()" color="primary">Đề tài cần bổ sung</button>
        <button style="margin-left: 8px" mat-raised-button
                (click)="duyetDeTai()" color="primary">Duyệt đề tài</button>

    </div>

</div>