<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="custom-tab-content flex-column flex-md-row">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active1" class="nav nav-pills justify-content-center" type="pills">
                    <li class="nav-item" [ngbNavItem]="1">
                        <a class="nav-link" ngbNavLink><i class="ni ni-cloud-upload-96 mr-2"></i> Home</a>
                        <ng-template ngbNavContent>
                            <div class="tab-content">
                                <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                    stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                    helvetica.
                                    Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                                <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                    stumptown aliqua, retro synth master cleanse.</p>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                        <a class="nav-link" ngbNavLink>
                            <i class="ni ni-bell-55 mr-2"></i> Profile
                        </a>
                        <ng-template ngbNavContent>
                            <div class="tab-content">
                                <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                                    salvia
                                    cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="3">
                        <a class="nav-link" ngbNavLink>
                            <i class="ni ni-calendar-grid-58 mr-2"></i> Messages
                        </a>
                        <ng-template ngbNavContent>
                            <div class="tab-content">
                                <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                    stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                    helvetica.
                                    Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>

            <div [ngbNavOutlet]="nav" class="custom-tab-content"></div>
        </div>
    </div>
</div>
