<div class="main-content">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div>
                <mat-form-field style="width: 100%;margin-left: 20px">
                    <mat-label>-- Chọn học kỳ --</mat-label>
                    <mat-select (selectionChange)="changeHocKy($event)">
                        <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">HK{{hocKy.soHocKy}}
                            -20{{hocKy.maHocKy}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title"></span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i>Giảng viên
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i>Sinh viên
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                    <tr *ngFor="let keHoach of dsKeHoachGV">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="keHoach.id"
                                                           checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{keHoach.tenKeHoach}}</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'" (click)="chinhSuaData(keHoach)"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                    <tr *ngFor="let keHoach of dsKeHoachSV">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{keHoach.tenKeHoach}}</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'" (click)="chinhSuaData(keHoach)"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            -->
            <div class="col-lg-9 col-md-12" *ngIf="display==true">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Công việc: {{keHoach.id}} - {{keHoach.tenKeHoach}} </h4>
                        <p class="card-category">Chi tiết thời gian </p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="keHoachGroup">
                            <div class="row" hidden="hidden">
                                <mat-form-field class="example-full-width">
                                    <input formControlName="id" matInput>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="tenKeHoach" matInput>
                                </mat-form-field>
                            </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Ghi chú</label>
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput formControlName="chuThich"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Thời gian bắt đầu</mat-label>
                                            <input matInput type="date" formControlName="thoiGianBatDau">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Thời gian kết thúc</mat-label>
                                            <input matInput type="date" formControlName="thoiGianKetThuc">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onUpdateKeHoach(keHoach)">
                                            Cập nhật
                                        </button>
                                    </div>
                                </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <app-quanly-lich2></app-quanly-lich2>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>