<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hr>
                <div class="title_lines">Học kỳ</div>
                <hr>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Thời gian bắt đầu và kết thúc học kỳ
                            </mat-panel-title>
                            <mat-panel-description>
<!--                                xxxxxx  -->

                            </mat-panel-description>
                        </mat-expansion-panel-header>


                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                            <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <hr>
            <div class="title_lines">Sinh viên </div>
            <hr>
            <hr>
            <div class="title_lines">Giảng viên</div>
            <hr>
        </div>
    </div>
</div>
