.title_lines {
  position: relative;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  color: #64c6ed;
  font-family: arial;
}
.title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 2000px;
  max-width: 90%;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  margin-left: 2%;
}
.title_lines:before {
  margin-left: -50%;
  text-align: right;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}