<h2 mat-dialog-title>XẾP LỊCH CHẤM PHẢN BIỆN</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="nhomDKGVPB">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="width: 100%;margin-left: 20px">
                    <mat-label>-- Chọn ngày --</mat-label>
                    <mat-select (selectionChange)="changeNgay($event)" formControlName="ngay">
                        <mat-option *ngFor="let ngay of dsNgay" [value]="ngay.key">{{ngay.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>-- Chọn tiết --</mat-label>
                    <mat-select formControlName="tiet" (selectionChange)="changeTiet($event)">
                        <mat-option value="1-2">1 - 2</mat-option>
                        <mat-option value="3-4">3 - 4</mat-option>
                        <mat-option value="5-6">5 - 6</mat-option>
                        <mat-option value="7-8">7 - 8</mat-option>
                        <mat-option value="9-10">9 - 10</mat-option>
                        <mat-option value="11-12">11 - 12</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="showPhong">
                <mat-form-field style="width: 100%;margin-left: 20px">
                    <mat-label>-- Phòng --</mat-label>
                    <mat-select (selectionChange)="changePhong($event)" formControlName="phong">
                        <mat-option *ngFor="let phong of dsPhong" [value]="phong.id">{{phong.tenPhong}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="showGV">
                <mat-form-field appearance="fill">
                    <mat-label>Danh sách giảng viên</mat-label>
                    <mat-select formControlName="dsMaGiangVienPB" multiple (selectionChange)="onDropdownList($event)">
                        <mat-option *ngFor="let gv of dsGV"
                                    value="{{gv.maGiangVien}}">{{gv.tenGiangVien}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
    <button mat-button cdkFocusInitial (click)="addTKBPB()">Thêm thời khóa biểu</button>
</mat-dialog-actions>
