<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <hr>
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">Xếp thời khóa biểu cho các nhóm đề tài</h4>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field style="width: 400px;margin-left: 20px">
                                <mat-label>-- Chọn học kỳ --</mat-label>
                                <mat-select (selectionChange)="changeHocKy($event)">
                                    <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">
                                        HK{{hocKy.soHocKy}}
                                        -20{{hocKy.maHocKy.toString().slice(0,2)}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <mat-form-field style="width: 400px;margin-left: 20px">
                                <mat-label>-- Lịch --</mat-label>
                                <mat-select (selectionChange)="changeLoaiLich($event)">
                                    <mat-option [value]="0">Phản biện</mat-option>
                                    <mat-option [value]="1">Hội đồng</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--                    PHAN BIEN-->
                    <div class="row" *ngIf="showBangData==0">
                        <div class="col-lg-12 col-md-12">
                            <form>
                                <table class="table " style="border: gray 1px solid" >
                                    <thead>
                                    <tr class="text-uppercase" style="background-color: #00bbff; color: white">
                                        <th scope="col">Ngày</th>
                                        <th scope="col">Tiết</th>
                                        <th scope="col">Phòng</th>
                                        <th scope="col">Giảng viên</th>
                                        <th scope="col">Nhóm</th>
                                        <th scope="col">Tùy chọn</th>
                                    </tr>
                                    </thead>
                                    <tbody [formGroup]="chiaNhomPB">
                                    <ng-container formArrayName="tableRows"
                                                  *ngFor="let group of getFormControls.controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td>
                                                <input type="text" class="form-control" formControlName="ngay" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="tiet" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="phong" disabled>
                                            </td>
                                            <td>
<!--                                                <input type="text" class="form-control" formControlName="gv" disabled>-->
                                                <textarea matInput cols="20" rows="2" formControlName="gv" disabled></textarea>
                                            </td>
                                            <td>
                                                <select formControlName="nhom"  class="form-control" >
                                                    <option value="{{nhom.maNhom}}" *ngFor="let nhom of getDSSauKhiLoaiDiDongThuI(i)">{{nhom.tenNhom}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" (click)="removeEmployee(i)">Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container>
                                        <tr>
                                            <td colspan="7">
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button class="btn btn-success"
                                                                [disabled]="chiaNhomPB.invalid"
                                                                (click)="onSaveForm()">Lưu
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>

                    <!--                    HỘI ĐỒNG-->
                    <div class="row" *ngIf="showBangData==1">
                        <div class="col-lg-12 col-md-12">
                            <form>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="text-uppercase table-dark">
                                        <th scope="col">Ngày</th>
                                        <th scope="col">Tiết</th>
                                        <th scope="col">Phòng</th>
                                        <th scope="col">Giảng viên</th>
                                        <th scope="col">Nhóm</th>
                                        <th scope="col">Tùy chọn</th>
                                    </tr>
                                    </thead>
                                    <tbody [formGroup]="chiaNhomHD">
                                    <ng-container formArrayName="tableRowsHD"
                                                  *ngFor="let group of getFormControlsHD.controls; let i=index">
                                        <tr [formGroupName]="i">
                                            <td>
                                                <input type="text" class="form-control" formControlName="ngay" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="tiet" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="phong" disabled>
                                            </td>
                                            <td>
<!--                                                <input type="text" class="form-control" formControlName="gv" disabled>-->
                                                <textarea matInput cols="20" rows="2" formControlName="gv" disabled></textarea>
                                            </td>
                                            <td>
                                                <select formControlName="nhom"  class="form-control" >
                                                    <option value="{{nhom.maNhom}}" *ngFor="let nhom of dsNhomDePhanCong">{{nhom.tenNhom}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" (click)="removeEmployeeHD(i)">Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container>
                                        <tr>
                                            <td colspan="7">
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button class="btn btn-success"
                                                                [disabled]="chiaNhomHD.invalid"
                                                                (click)="onSaveFormHD()">Lưu
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


