<h3 class="">Hãy nhập lời nhắn của bạn để có thể tham gia nhóm này?</h3>
<mat-divider></mat-divider>
<div>
    <form [formGroup]="dangKyNhomForm">
    <mat-form-field class="example-full-width">
        <mat-label mat-header-cell *matHeaderCellDef>Mật khẩu nhóm</mat-label>
        <input formControlName="tinNhan" matInput placeholder="Tin Nhắn">
    </mat-form-field>
    </form>
</div>
<div>
    <button mat-raised-button color="warn" mat-dialog-close="'close'">Không</button>
    <button style="margin-left: 8px" mat-raised-button color="primary"  (click)="dangKyNhomHienTai()">{{actionBtn}}</button>
</div>
<div class="clearfix"></div>


