<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thêm học kỳ</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="giangVienForm">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Thời gian bắt đầu</mat-label>
                                        <input formControlName="thoiGianBatDau" matInput
                                               placeholder="Placeholder" type="date" >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Thời gian kết thúc</mat-label>
                                        <input formControlName="thoiGianKetThuc" matInput
                                               placeholder="Thời gian kết thúc" type="date" >
                                    </mat-form-field>
                                    <p *ngIf="giangVienForm.get('thoiGianKetThuc').errors!=null">
                                    Errors: {{giangVienForm.get('thoiGianKetThuc').errors | json}}
                                    </p>
                                </div>
                            </div>
                            <div mat-dialog-actions [align]="'end'">
                                <button mat-raised-button color="warn" mat-dialog-close="'close'">Close</button>
                                <!--                                [disabled]="!productForm.valid"-->
                                <button style="margin-left: 8px" mat-raised-button color="primary"

                                        (click)="addHocKy()">{{actionBtn}}</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>