
<script src="tab-nav.component.ts"></script>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" style="margin-top: 80px">
  <mat-tab label="Hồ Sơ"><app-profile ></app-profile> </mat-tab>
  <mat-tab label="Đề tài"><app-detai [validateDeTai]="validateDeTai"></app-detai> </mat-tab>
  <mat-tab label="Nhóm"><app-giangvien-nhom [validateNhom]="validateNhom"></app-giangvien-nhom></mat-tab>
  <mat-tab label="Đánh giá nhóm đề tài"><app-giangvien-chamdiem></app-giangvien-chamdiem></mat-tab>
  <mat-tab label="Kết quả đánh giá"><app-giangvien-phancong></app-giangvien-phancong> </mat-tab>
  <mat-tab label="Lớp học phần"><app-giangvien-lich></app-giangvien-lich></mat-tab>
</mat-tab-group>
