<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <app-profile></app-profile>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6">
                        <div class="card card-stats" style="height: 130px">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <h3 class="card-title">Lịch học
                                    <small></small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <i class="material-icons">date_range</i>
                                    <a (click)="direct_SVGoTo('sv-lich')">Chi tiết</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="card card-stats" style="height: 130px">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_paste</i>
                                </div>
                                <h3 class="card-title">Đề Tài
                                    <small></small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats" style="font-size: 15px;color: black">
                                    <div *ngIf="validateDeTai">
                                        <p *ngIf="validateDeTai.invalid==true">
                                            <i class="material-icons text-danger">warning</i>
                                            Chưa đến thời gian đăng ký Đề tài</p>
                                        <a (click)="direct_SVGoTo('sv-chonDeTai')" *ngIf="validateDeTai.invalid==false">
                                            <div *ngIf="nhom">
                                                <p *ngIf="nhom.deTai!=null">
                                                    <b>{{nhom.deTai.maDeTai}}</b> - <b>{{nhom.deTai.tenDeTai}}</b>
                                                </p>
                                                <p *ngIf="nhom.deTai==null">
                                                    <i class="material-icons text-danger">warning</i>
                                                    <b>  Đăng ký đề tài</b>
                                                </p>
                                            </div>
                                        </a>
                                        <div *ngIf="nhom==null">
                                            <i class="material-icons text-danger">warning</i>
                                            <b>Sinh viên chưa đăng ký nhóm</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="card card-stats" style="height: 130px">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">group</i>
                                </div>
                                <h3 class="card-title">Nhóm
                                    <small></small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats" style="font-size: 15px;color: black">
                                    <div *ngIf="validateNhom">
                                        <p *ngIf="validateNhom.invalid==true">
                                            <i class="material-icons text-danger">warning</i>
                                            Chưa đến thời gian đăng ký Nhóm
                                        </p>
                                        <a (click)="direct_SVGoTo('sv-chonNhom')" *ngIf="validateNhom.invalid==false">
                                            <p *ngIf="nhom!=null">
                                                Mã nhóm: <b>{{nhom.maNhom}}</b> - Tên nhóm: <b>{{nhom.tenNhom}}</b>
                                            </p>
                                            <p *ngIf="nhom==null">
                                                <i class="material-icons text-danger">warning</i>
                                                <b>  Đăng ký nhóm</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="card card-stats" style="height: 130px">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">store</i>
                                </div>
                                <h3 class="card-title">Kết quả học tập</h3>
                            </div>
                            <div class="card-footer">

                                    <a (click)="direct_SVGoTo('sv-diem')">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>