<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="display: flex;justify-content: space-between">
                        <h4 class="card-title">Thống kê số lượng đề tài / sinh viên </h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <table>
                                <tr>
                                    <td>Số lượng sinh viên: </td>
                                    <td>{{soLuongSinhVien}}</td>
                                </tr>
                                <tr>
                                    <td>Số lượng đề tài: </td>
                                    <td>{{soLuongDeTai}}</td>
                                </tr>
                                <tr *ngIf="soLuongSinhVien/soLuongDeTai > 2">
                                    <td>Cảnh báo:</td>
                                    <td>
                                        <p>Số lượng đề tài tối thiểu của học kì này: {{ceilNumber(soLuongSinhVien/2) + 5}}</p>
                                        <p>Mỗi giáo viên hướng dẫn cần có tối thiểu: {{ceilNumber((soLuongSinhVien/2 + 5)/soLuongGiangVien)}} đề tài</p>
                                        <p>Số lượng đề tài vẫn chưa đủ. Hãy thông báo đến giảng viên hướng dẫn về vấn đề này</p>
                                    </td>
                                </tr>
                                <tr *ngIf="soLuongSinhVien/soLuongDeTai <= 2">
                                    <td>Cảnh báo:</td>
                                    <td>
                                        <p>Số lượng đề tài đã đủ cho sinh viên đăng ký.</p>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>