<hr>
<hr>
<div class="row">
    <div class="col-6"></div>
    <div class="col-6 text-end">
        <button class="btn btn-sm btn-success" (click)="addRow()">Add Employee</button>
        <button class="btn btn-sm btn-success" (click)="setValue()">Set value</button>
    </div>
</div>
<div class="pt-2">
    <form>
        <table class="table table-bordered">
            <thead>
            <tr class="text-uppercase table-dark">
                <th scope="col">Ngày</th>
                <th scope="col">Tiết</th>
                <th scope="col">Phòng</th>
                <th scope="col">Nhóm</th>
                <th scope="col">Tùy chọn</th>
            </tr>
            </thead>
            <tbody [formGroup]="employeeForm">
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
                <tr [formGroupName]="i">
                    <td>
                        <input type="text" class="form-control" formControlName="ngay" placeholder="Enter First" disabled>
                        <div class="text-danger" *ngIf="getFormControls.controls[i].get('ngay')?.touched">
                            <span *ngIf="getFormControls.controls[i].get('ngay')?.errors?.['required']">Required</span>
                            <span *ngIf="getFormControls.controls[i].get('ngay')?.errors?.['minlength']">3 Chars
                  Required</span>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="tiet" placeholder="Enter Last" disabled>
                        <div class="text-danger" *ngIf="getFormControls.controls[i].get('tiet')?.touched">
                            <span *ngIf="getFormControls.controls[i].get('tiet')?.errors?.['required']">Required</span>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="phong" placeholder="phong..." disabled>
                    </td>
                    <td>
                        <select formControlName="status" (change)="onStatusChange($event,i)" class="form-control">
                            <option value="">Select Status</option>
                            <option value="active">Active</option>
                            <option value="deactive">De-Active</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="removeEmployee(i)">Remove</button>
                    </td>
                </tr>
            </ng-container>
            <ng-container>
                <tr>
                    <td colspan="7">
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn btn-success" [disabled]="employeeForm.invalid"
                                        (click)="onSaveForm()">Lưu
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </form>
</div>