<div class="main-content">
    <div class="container-fluid">
        <h3><b>Lịch học, lịch thi theo tuần</b></h3>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <full-calendar *ngIf='calendarVisible' [options]='calendarOptions' [events]="data$">
                    <ng-template #eventContent let-arg>
                        <b>{{ arg.timeText }}</b>
                        <br>
                        <i>{{ arg.event.title.split("|")[0] }}</i>
                        <br>
                        <i>Phòng: {{ arg.event.title.split("|")[1] }}</i>
                        <!--                    <p >{{arg.even.title.phong}}</p>-->
                    </ng-template>
                </full-calendar>
            </div>
        </div>
    </div>
</div>

