<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header"
                         style="display: flex;justify-content: space-between;background-color: #4da1e8">
                        <h4 class="card-title"
                            style="color: #fff;font-family: Arial, Helvetica Neue, Helvetica, sans-serif">ĐÁNH GIÁ CÁC NHÓM ĐỀ TÀI</h4>
                        <mat-form-field>
                            <mat-label>Tùy chỉnh</mat-label>
                            <mat-select>
                                <mat-option (click)="nhapDiemExcel()">Nhập điểm bằng Excel</mat-option>
                                <mat-option (click)="xuatFileChamDiemMacDinh()">Xuất file nhập điểm mặc định
                                </mat-option>
                                <mat-option (click)="xuatFileExcel()">Xuất file excel</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-10">
                            <form [formGroup]="luaChonGroup">
                                <mat-accordion class="example-headers-align">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h5><b>Lọc</b></h5>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <h5><b>Đánh giá nhóm đề tài theo các tiêu chí</b></h5>
                                                <mat-icon>date_range</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-3">
                                                <mat-form-field>
                                                    <mat-label>-- Chọn học kỳ --</mat-label>
                                                    <mat-select formControlName="hocKy" (selectionChange)="changeHocKy($event)">
                                                        <mat-option *ngFor="let hocKy of dsHocKy" [value]="hocKy.maHocKy">
                                                            HK{{hocKy.soHocKy}}
                                                            -20{{hocKy.maHocKy}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <mat-form-field>
                                                    <mat-label>-- Chọn đợt chấm điểm --</mat-label>
                                                    <mat-select formControlName="dotCham"
                                                                (selectionChange)="changeDotChamDiem($event)">
                                                        <mat-option value="HD">Hướng dẫn</mat-option>
                                                        <mat-option value="PB">Phản biện</mat-option>
                                                        <mat-option value="HoiDong">Hội đồng</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3" *ngIf="showThongTinHD==true">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>-- Chọn phương pháp chấm --</mat-label>
                                                    <mat-select formControlName="ppcham" multiple>
                                                        <mat-option *ngFor="let topping of phuongPhapList" [value]="topping.value">{{topping.viewValue}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3" *ngIf="showThongTinHD==true">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>-- Chọn vai trò của bạn --</mat-label>
                                                    <mat-select formControlName="vaitro" multiple>
                                                        <mat-option *ngFor="let topping of dsVaiTro" [value]="topping.value">{{topping.viewValue}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="accordion.closeAll()">Đóng</button>
                                            <button mat-button color="primary" (click)="fileterChange()">Tìm kiếm</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                </mat-accordion>

                            </form>
                        </div>
                    </div>
                    <hr>
<!--                    <div>-->
<!--                        <mat-form-field style="width: 500px;margin-left: 20px">-->
<!--                            <mat-label>Tìm kiếm</mat-label>-->
<!--                            <input matInput (keyup)="applyFilter($event)" placeholder="nhập từ khóa tìm kiếm..."-->
<!--                                   #input>-->
<!--                        </mat-form-field>-->
<!--                    </div>-->
                    <div class="mat-elevation-z8" style="width: 100%;max-width: 100%;overflow: auto;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="maNhom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.maNhom}} </td>
                            </ng-container>
                            <ng-container matColumnDef="tenNhom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên nhóm</th>
                                <td mat-cell *matCellDef="let row"> {{row.tenNhom}} </td>
                            </ng-container>
                            <ng-container matColumnDef="maDeTai">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đề tài</th>
                                <td mat-cell *matCellDef="let row"> {{row.maDeTai}} </td>
                            </ng-container>
                            <ng-container matColumnDef="tenDeTai">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên đề tài</th>
                                <td mat-cell *matCellDef="let row"> {{row.tenDeTai}} </td>
                            </ng-container>
                            <ng-container matColumnDef="maSV1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã Sinh viên 1</th>
                                <td mat-cell *matCellDef="let row"> {{row.sinhVien[0].maSinhVien}}</td>
                            </ng-container>
                            <ng-container matColumnDef="tenSV1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên Sinh viên 1</th>
                                <td mat-cell *matCellDef="let row"> {{row.sinhVien[0].tenSinhVien}}</td>
                            </ng-container>
                            <ng-container matColumnDef="maSV2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã Sinh viên 2</th>
                                <td mat-cell *matCellDef="let row">
                                    <p *ngIf="row.sinhVien[1]!=null">{{row.sinhVien[1].maSinhVien}}</p>

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="tenSV2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên Sinh viên 2</th>
                                <td mat-cell *matCellDef="let row">
                                    <p *ngIf="row.sinhVien[1]!=null">{{row.sinhVien[1].tenSinhVien}}</p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="vaiTro">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vai trò</th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row.vaiTro == 'HD'">Hướng Dẫn</span>
                                    <span *ngIf="row.vaiTro == 'PB'">Phản Biện</span>
                                    <span *ngIf="row.vaiTro == 'TK'">Thư Ký</span>
                                    <span *ngIf="row.vaiTro == 'CT'">Chủ Tịch</span>
                                    <span *ngIf="row.vaiTro == 'TV3'">Thành Viên thứ 3</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Đánh giá</th>
                                <td mat-cell *matCellDef="let row">
                                    <!--Row: data cua 1 dong-->
                                    <button mat-icon-button color="primary" (click)="editProduct(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Không có dữ liệu</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[25, 10, 5, 100]"
                                       aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
