<!-- Remove the container if you want to extend the Footer to full width. -->
<!--<div class="container my-5" style="width:100%; !important">-->

<footer class=" text-lg-start text-white" style="width:100%; padding: 20px; font-size: 18px; background-color: #4da1e8">

  <!--Grid row-->
  <div class="row my-4" style="margin-top: 100px">
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

      <div class="rounded-circle shadow-1-strong d-flex align-items-center mb-4" style="width: 230px; height: 150px;">
        <img src="./assets/image/logo-iuh-xoa-phong.png" height="80%" alt=""
             loading="lazy" />
      </div>

      <p class="text-left" style="font-size: 16px; font-family: Roboto">Chào mừng các bạn đến với Hệ thống học tập trực tuyến của trường Đại học Công nghiệp TP.HCM, kênh thông tin cung cấp các khóa học trực tuyến của nhà trường cho các bạn sinh viên</p>

    </div>
    <!--Grid column-->
    <div class="col-lg-1"></div>
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h3 class=" mb-4" style="font-size: 30px; font-weight: bold; font-family: Roboto">Liên kết</h3>

      <ul class="list-unstyled ">
        <li class="mb-2">
          <a href="#!" class="text-white" style="font-family: Roboto">Website Nhà Trường</a>
        </li>
        <li class="mb-2">
          <a href="#!" class="text-white" style="font-family: Roboto">Website Trung tâm QTHT</a>
        </li>
        <li class="mb-2">
          <a href="#!" class="text-white" style="font-family: Roboto">Cổng Thông Tin Sinh Viên</a>
        </li>
        <li class="mb-2">
          <a href="#!" class="text-white" style="font-family: Roboto">Các Khóa Học</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <h3 class=" mb-4" style=" font-size: 30px; font-weight: bold">Liên hệ</h3>
      <span style="font-family: Roboto">Trung tâm Quản trị Hệ thống - Trường Đại học Công nghiệp TP.HCM</span>
      <ul class="list-unstyled">
        <li>
          <button mat-icon-button class="example-icon">
            <mat-icon style="font-size: 25px">phone</mat-icon>
          </button>
          <span style="font-size: 18px; font-family: Roboto">Phone: 0283.8940 390 - ext 838 </span>
        </li>
        <li>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>email</mat-icon>
          </button><span style="font-size: 18px; font-family: Roboto">E-mail : <a href="#!" class="text-black">csm@iuh.edu.vn</a></span>
        </li>
      </ul>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #000">
    Copyright © 2020 - Phát triển bởi Trung tâm Quản trị Hệ thống - ĐHCN TP.HCM
  </div>
  <!-- Copyright -->
</footer>

<!--</div>-->
<!-- End of .container -->