<div class="container mt-5">
  <h1 style="color: #4da1e8; font-family:  Roboto; ;">ĐĂNG NHẬP HỆ THỐNG</h1>
  <div class="card" style="padding: 20px">
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tên tài khoản</label>
        <input ngModel type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="tenTaiKhoan" placeholder="Nhập mã " >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input ngModel type="password" class="form-control" id="exampleInputPassword1"
               formControlName="password" placeholder="Nhập mật khẩu" >
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
      </div>
      <button type="submit" class=" form-control rounded-0"
              style="background-color: #4da1e8; font-size: 15px; color: #fff; font-family:  Roboto; font-weight: bold;" [disabled]="loginForm.invalid"
               (click)="login()">LOGIN</button>
    </form>
  </div>
</div>
