<div class="container" style="width: 600px">
    <h2>Đổi Mật Khẩu</h2>
    <form [formGroup]="loginForm">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label mat-header-cell *matHeaderCellDef>Mật khẩu cũ</mat-label>
                <input formControlName="matKhauCu" type="password" matInput placeholder="Mật khẩu cũ">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label mat-header-cell *matHeaderCellDef>Mật khẩu mới</mat-label>
                <input formControlName="matKhauMoi" type="password" matInput placeholder="Mật khẩu mới">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label mat-header-cell *matHeaderCellDef>Xác nhận mật khẩu</mat-label>
                <input formControlName="matKhauMoiXacNhan" type="password" matInput placeholder="Xác nhận lại mật khẩu">
            </mat-form-field>
        </div>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close="'close'">Close</button>
            <button style="margin-left: 8px; background-color: #4da1e8; color: #FFFFFF" mat-raised-button
            (click)="changePassword()">Lưu</button>
        </div>
    </form>
</div>

